* {
  padding: 0;
  margin: 0;
}

/* Loading */
.loading_icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

/* Nav */
.navigation_menu {
  display: none;
}

.hamburger-button,
.close-button {
  width: 40px;
  height: 28px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  transition: all ease 0.3s;
}

.nav_dropdown p {
  color: #fff;
  padding-top: 5px;
}

.nav_dropdown p:hover {
  background: #3f2055;
}

.hamburger-button .hamburguer_close1 {
  transform: rotate(45deg);
  position: relative;
  top: 11px;
  transition: all ease 0.3s;
  z-index:11
}

.hamburger-button .hamburguer_close2 {
  transition: all ease 0.2s;
  opacity: 0;
  z-index:11
}

.hamburger-button .hamburguer_close3 {
  transform: rotate(-45deg);
  position: relative;
  bottom: 11px;
  transition: all ease 0.3s;
  z-index:11
}

.hamburger-button {
  z-index:11
}

.close-button  {
  opacity: 0
}

.hamburger-button span,
.close-button span {
  width: 40px;
  height: 6px;
  background-color: #523468;
  border-radius: 3px;
  transition: all ease 0.3s;
}

.close-button span:nth-child(2) {
  display: none;
  transition: all ease 0.3s;
}

.navigation {
  width: 100%;
  display: flex;
  justify-content: center;
}

.navigation_container {
  display: flex;
  justify-content: space-around;
  text-align: center;
  width: 100%;
  max-width: 831px;
  padding: 20px;
}

.nav_title {
  display: flex;
  justify-content: space-around;
  width: 100%;
  align-items: center;
}

.nav_title h1 {
  color: #e44104;
}

.nav_title h3 {
  color: #e44104;
}

.nav_title span {
  font-weight: 100;
}

.nav_search2 input {
  padding-left: 10px;
}

.nav_search input {
  height: 40px;
  width: 215px;
  border: none;
  border-radius: 5px;
}

.search_icon {
  padding-left: 8px;
}

.nav_search {
  height: 40px;
  border: 1px solid black;
  border-radius: 5px;
  width: 230px;
  display: flex;
  align-items: center;
}

.nav_bag {
  display: flex;
  align-items: center;
}

.nav_menu_container {
  width: 100%;
  background: #523468;
  height: 65px;
  transition: all ease 0.6s;
}

.nav_menu {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav_menu span {
  position: relative;
  top: 4px;
}

.nav_menu li {
  display: flex;
  list-style: none;
  font-weight: 500px;
  color: #fff;
  padding: 8px;
  border-radius: 7px;
  margin: 2px;
}

.nav_menu li:hover {
  transition: all ease 0.3s;
  background: #3f2055;
  cursor: pointer;
}

.nav_menu ul {
  display: flex;
}

.nav_sign {
  display: flex;
}

.nav_sign ul {
  width: 180px;
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  align-items: center;
}

.nav_sign li {
  color: #fff;
}

.nav_menu_container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.menu_container {
  display: flex;
  width: 913px;
  justify-content: space-around;
}

#signHover {
  padding: 8px;
  border-radius: 7px;
}

#signHover:hover {
  transition: all ease 0.3s;
  background: #3f2055;
  cursor: pointer;
}

@media (max-width: 780px) {
  .nav_title {
    padding-top: 46px;
  }

  .nav_menu_container {
    display: none;
  }
  .nav_sign_dropdown {
    display: flex;
    height: 78px;
    width: 100%;
    justify-content: center;
    font-size: 20px;
  }
  .nav_sign_dropdown ul {
    width: 260px;
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    align-items: center;
    padding-top: 10px;
    color: #fff
  }
}

.section_container {
  flex-direction: column;
}

@media (min-width: 781px) {
  .nav_dropdown_search {
    display: none;
  }
  .nav_dropdown p {
    display: none;
  }
  .hamburger-button {
    display: none;
  }
  .nav_sign_dropdown {
    display: none;
  }
}

@media (max-width: 780px) {
  .break_line {
    display: none;
  }

  .section_container {
    height: 100%;
  }

  .close-button span:nth-child(2) {
    display: block;
  }

  .navigation {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 4rem;
  }

  .nav_search {
    display: none;
  }

  .nav_search2 input {
    height: 30px;
    width: 215px;
    border: none;
    border-radius: 5px;
  }

  .search_icon {
    padding-left: 8px;
  }

  .nav_search2 {
    height: 40px;
    border: 1px solid black;
    border-radius: 5px;
    width: 230px;
    display: flex;
    align-items: center;
    position: relative;
    bottom: 7px
  }

  .nav_title {
    justify-content: end;
  }

  .nav_title h3 {
    color: #817e7e;
    padding-top: 2px;
    z-index: 1;
  }

  .subTitle-background {
    width: 100%;
    background: #ccc;
    height: 25px;
    position: relative;
    top: 18px;
  }

  .navigation_container {
    align-items: center;
    transition: all ease 0.3s;
  }

  .nav_dropdown {
    position: fixed;
    left: 0;
    top: -100%;
    width: 100%;
    background-color: #523468;
    display: flex;
    flex-direction: column;
    gap: 0.1rem;
    justify-content: flex-end;
    align-items: flex-start;
    z-index: 2;
    overflow-x: hidden;
    transition: all ease 0.3s;
  }

  .nav_dropdown p {
    width: 100%;
    padding-bottom: 8px;
    position: relative;
    display: flex;
    padding-left: 20px;
    box-shadow: 0px 1px #fff;
    font-size: 21px;
    cursor: pointer;
  }

  .nav_dropdown_search {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 20px;
    padding-bottom: 8px;
    background: #fff;
    width: 100%;
  }

  .nav_title {
    flex-direction: column;
    text-align: center;
  }

  .navigation_menu {
    display: block;
  }

  .navigation_dropdown:hover {
    cursor: pointer;
  }

  .nav_bag {
    flex-direction: column;
    padding-top: 14px;
  }
}

/* Potions Container */

.potion_section_title {
  max-width: 964px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.title_ {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  max-width: 771px;
}

.section_container {
  width: auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 30px;
  gap: 30px;
  max-height: 100%;
  height: 73%;
  box-sizing: border-box;
}

.potion_name {
  text-align: right;
}

.potion_name_container {
  width: 199px;
  display: flex;
  align-items: baseline;
  justify-content: center;
  gap: 2px;
}

.potions_section {
  width: 100%;
  max-width: 964px;
  flex-direction: row;
  align-items: center;
  display: flex;
  list-style: none;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-bottom: 30px;
}

.potion_card {
  width: 174px;
  padding: 35px;
  cursor: pointer;
  transition: all ease 0.3s;
}

.potion_card:hover {
  transition: all ease 0.1s;
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.2);
  border-radius: 36px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.potion_image {
  width: 180px;
  height: 180px;
}

.potion_price {
  color: #e44104;
  font-size: 18px;
}

@media (max-width: 840px) {
  .title_ {
    justify-content: center;
    height: 53px;
  }

  .section_container {
    height: 96vh;
  }

  .potion_section_title {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .potions_section {
    transition: all ease 0.3s;
    width: 100%;
    height: 100vh;
    gap: 43px;
  }

  .potion_image {
    width: 150px;
    height: 150px;
    transition: all ease 0.3s;
  }

  .potion_card {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0;
    padding-bottom: 15px;
    transition: all ease 0.3s;
  }

  .potion_name_container {
    justify-content: center;
  }

  .potion_name {
    width: 90px;
    font-size: 12px;
    transition: all ease 0.3s;
  }

  .potion_name h3 {
    font-size: 13px;
    transition: all ease 0.3s;
  }

  .potion_price {
    font-size: 13px;
  }

  .potions_section li {
    display: flex;
  }
}

@media (max-width: 780px) {
  .potions_section {
    gap: 0px;
    transition: all ease 0.2s;
  }
}

/* Potion Modal */

.ReactModal__Overlay {
  opacity: 0;
  transition: opacity 500ms ease-in-out;
}
.ReactModal__Overlay--after-open {
  opacity: 1;
}
.ReactModal__Overlay--before-close {
  opacity: 0;
}

.potion_modal {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  z-index: 10;
  position: relative;
  width: 680px;
  height: 500px;
  left: 30%;
  top: 20%;
  background-color: #fff;
  max-width: 50%;
  outline: none;
}

.overlay_modal {
  z-index: 9;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(120, 120, 120, 0.5);
}

.modal {
  width: 95%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 95%;
}

.header_close-btn {
  width: 100%;
  display: flex;
  justify-content: right;
}

.close_btn {
  height: 23px;
  width: 46px;
  display: flex;
  justify-content: flex-end;
}

.close_btn button {
  height: 25px;
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.modal_container_info {
  display: flex;
  justify-content: space-around;
  height: 80%;
  padding-bottom: 30px;
}

.modal_image {
  width: 330px;
  height: 330px;
}

.modal_info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 72%;
}

.modal_info h2 {
  width: 180px;
}

.modal_info h3 {
  width: 200px;
}

.modal_ingredients ul {
  list-style: none;
}

.modal_add_cart {
  padding-top: 15px;
}

.modal_add_cart button {
  height: 35px;
  padding: 8px;
  color: #fff;
  border: none;
  border-radius: 5px;
  background: #e44104;
  cursor: pointer;
}

@media (max-width: 1042px) {
  .modal_container_info {
    height: 96%;
    align-items: center;
  }

  .modal_ingredients {
    width: 179px;
  }

  .modal_image {
    width: 190px;
    height: 190px;
  }

  .modal_effect p {
    max-width: 179px;
  }

  .potion_modal {
    max-width: 94%;
    left: 13%;
    top: 8%;
    height: 600px;
  }

  .modal_info {
    height: 88%;
  }
}

@media (max-width: 800px) {
  .potion_modal {
    left: 2%;
  }
}

/* Footer Modal */

.footer_btn {
  height: 35px;
  padding: 8px;
  color: #fff;
  border: none;
  border-radius: 5px;
  background: #e44104;
  cursor: pointer;

  width: 100px;
}

.footer_container {
  width: 100%;
  background: #ccc;
  height: 226px;
  display: flex;
  justify-content: center;
}

.footer_info {
  display: flex;
  justify-content: space-around;
  max-width: 768px;
  width: 100%;
}

.links_container {
  flex-direction: column;
  max-width: 375px;
  width: 100%;
  display: flex;
  gap: 20px;
  transition: all ease 0.2s;
}

.links_container ul {
  display: flex;
  list-style: none;
  max-width: 354px;
  justify-content: left;
  font-size: 18px;
  gap: 12px;
  flex-wrap: wrap;
  padding-top: 30px;
  font-family: sans-serif;
}

.links_container li {
  width: 102px;
  color: #e44104;
}

.links_container p {
  padding-bottom: 20px;
  font-family: sans-serif;
  color: #817e7e;
  width: 322px;
}

.links_container li:nth-child(2) {
  width: 126px;
}

.social_media_container {
  width: 354px;
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 20px;
}

.newsletter_container {
  width: 375px;
  display: flex;
  align-items: center;
  padding-bottom: 3px;
}

.newsletter {
  font-family: sans-serif;
  background: #fff;
  border-radius: 5px;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 10px;
}

.newsletter label {
  font-size: 15px;
}

.input_container {
  display: flex;
  justify-content: space-between;
}

.input_container input {
  width: 231px;
  border-radius: 4px;
  padding: 3px;
  outline: none;
}

@media (max-width: 1042px) {
  .footer_container {
    height: 283px;
  }

  .footer_info {
    max-width: 100%;
    flex-wrap: wrap-reverse;
  }

  .links_container {
    max-width: 100%;
  }

  .social_media_container {
    justify-content: center;
    width: 100%;
  }
  .links_container ul {
    display: none;
  }
  .links_container p {
    display: flex;
    width: 100%;
    justify-content: center;
  }
  .newsletter_container {
    padding-bottom: 0;
    justify-content: center;
  }
  .newsletter {
    height: 115px;
  }
  .newsletter p {
    font-size: 16px;
  }
  .newsletter label {
    font-size: 12px;
  }
  .input_container {
    width: 299px;
    gap: 7px;
  }
}
