* {
  padding: 0;
  margin: 0;
}

/* Nav */
.navigation_menu {
  display: none;
}

.navigation {
  width: 100%;
  display: flex;
  justify-content: center;
}

.navigation_container {
  display: flex;
  justify-content: space-around;
  text-align: center;
  width: 100%;
  max-width: 1150px;
  padding: 20px;
}

.nav_title {
  display: flex;
  justify-content: space-around;
  width: 100%;
  align-items: center;
}

.nav_title h1 {
  color: #e44104;
}

.nav_title h3 {
  color: #e44104;
}

.nav_title span {
  font-weight: 100;
}

.nav_search2 input {
  padding-left: 10px;
}

.nav_search input {
  height: 40px;
  width: 215px;
  border: none;
  border-radius: 5px;
}

.search_icon {
  padding-left: 8px;
}

.nav_search {
  height: 40px;
  border: 1px solid black;
  border-radius: 5px;
  width: 230px;
  display: flex;
  align-items: center;
}

.nav_bag {
  display: flex;
  align-items: center;
}

.nav_menu_container {
  width: 100%;
  background: #523468;
  height: 50px;
}

.nav_menu {
  display: flex;
  align-items: center;
}

.nav_menu li {
  list-style: none;
  font-weight: 500px;
  color: #fff;
  padding: 8px;
  border-radius: 7px;
}

.nav_menu li:hover {
  transition: all ease 0.3s;
  background: #674283;
  cursor: pointer;
}

.nav_menu ul {
  display: flex;
}

.nav_sign {
  display: flex;
}

.nav_sign ul {
  width: 180px;
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  align-items: center;
}

.nav_sign li {
  color: #fff;
}

.nav_menu_container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.menu_container {
  display: flex;
  width: 1440px;
  justify-content: space-around;
}

#signHover {
  padding: 8px;
  border-radius: 7px;
}

#signHover:hover {
  transition: all ease 0.3s;
  background: #674283;
  cursor: pointer;
}

@media (max-width: 780px) {
  .nav_title {
    padding-top: 46px;
  }

  .nav_menu_container {
    display: none;
  }
}

@media (min-width: 781px) {
  .nav_dropdown_search {
    display: none;
  }
  .nav_dropdown p {
    display: none;
  }
}

@media (max-width: 780px) {
  .navigation {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 4rem;
  }

  .nav_search {
    display: none;
  }

  .nav_search2 input {
    height: 30px;
    width: 215px;
    border: none;
    border-radius: 5px;
  }

  .search_icon {
    padding-left: 8px;
  }

  .nav_search2 {
    height: 40px;
    border: 1px solid black;
    border-radius: 5px;
    width: 230px;
    display: flex;
    align-items: center;
  }

  .nav_title {
    justify-content: end;
  }

  .nav_title h3 {
    color: #817e7e;
    padding-top: 2px;
    z-index: 1;
  }

  .subTitle-background {
    width: 100%;
    background: #ccc;
    height: 25px;
    position: relative;
    top: 18px;
  }

  .navigation_container {
    align-items: center;
    transition: all ease 0.3s;
  }

  .nav_dropdown {
    position: absolute;
    left: 0;
    top: 0%;
    width: 100%;
    background-color: #523468;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    justify-content: flex-end;
    align-items: flex-start;
    z-index: 2;
    overflow-x: hidden;
  }

  .nav_dropdown p {
    width: 100%;
    padding-bottom: 8px;
    position: relative;
    display: flex;
    padding-left: 20px;
    box-shadow: 0px 2px #fff;
    font-size: 21px;
  }

  .nav_dropdown_search {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 20px;
    background: #fff;
    width: 100%;
  }

  .nav_title {
    flex-direction: column;
    text-align: center;
  }

  .navigation_menu {
    display: block;
  }

  .navigation_dropdown:hover {
    cursor: pointer;
  }

  .nav_bag {
    flex-direction: column;
    padding-top: 14px;
  }
}

/* Potions Container */

.section_container {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 83vh;
  align-items: center;
}

.potion_name {
  text-align: right;
}

.potion_name_container {
  width: 199px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2px;
}

.potions_section {
  width: 1070px;
  height: 68vh;

  display: flex;
  list-style: none;
  justify-content: space-around;
  flex-wrap: wrap;
}
.potion_card {
  width: 174px;
  padding: 50px;
  cursor: pointer;
  transition: all ease 0.3s;
}

.potion_card:hover {
  transform: scale(0.9);
  transition: all ease 0.1s;
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.2);
  border-radius: 36px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.potion_image {
  width: 180px;
  height: 180px;
}

.potion_price {
  color: #e44104;
  font-size: 18px;
}

@media (max-width: 780px) {
  .potions_section {
    justify-content: center;
    transition: all ease 0.3s;
  }

  .potion_image {
    width: 150px;
    height: 150px;
    transition: all ease 0.3s;
  }

  .potion_card {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0;
    padding-bottom: 15px;
    transition: all ease 0.3s;
  }

  .potion_name_container {
    justify-content: center;
  }

  .potion_name {
    width: 90px;
    font-size: 12px;
    transition: all ease 0.3s;
  }

  .potion_name h3 {
    font-size: 13px;
    transition: all ease 0.3s;
  }

  .potion_price {
    font-size: 13px;
  }

  .potions_section li {
    display: flex;
  }
}

/* Potion Modal */

.potion_modal {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  z-index: 10;
  position: relative;
  width: 680px;
  height: 470px;
  left: 30%;
  top: 20%;
  opacity: 1;
  background-color: #fff;
  max-width: 50%;
}

.overlay_modal {
  z-index: 9;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(150, 150, 150, 0.5);
}
